.content {
    padding: 4rem 0;
}

.content img:hover{
  cursor: grab;
}

.content img:active{
  cursor:grabbing;
}
  
  .owl-1 .owl-dots {
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .owl-1 .owl-dots .owl-dot {
      background: none;
      display: inline-block; }
      .owl-1 .owl-dots .owl-dot > span {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        margin: 4px; }
      .owl-1 .owl-dots .owl-dot.active > span {
        background: white; }
      .owl-1 .owl-dots .owl-dot:active, .owl-1 .owl-dots .owl-dot:focus {
        outline: none; }
  